:root {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  width: 500px;
  margin: auto;
  padding: 5rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 3rem;
  text-align: center;
}

button {
  font-size: 2rem;
}